{{>header}}
{{>navbar}}
    <div>
        <p>1</p>
        <p>title</p>
        <p>
            <a href="/single" class="btn btn-sucess mx-2">Show</a>
            <a href="/edit" class="btn btn-warning mx-2">Edit</a>
            <a href="/del" class="btn btn-danger mx-2">Delete</a>
        </p>
    </tbody>
{{>footer}}