<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    hello from hbs
    <h3>{{subject}}</h3>
    <h3>{{session}}</h3>
</body>
</html>